@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<div>
    <form action="https://localhost:7256/Home/Welcome" method="POST">
  <div>
    <label for="userName">Please Enter User Name: </label>
    <input name="userName" id="userName" value="">
  </div>
  <div>
    <button>Login</button>
   <button type="button" class="btn btn-primary">Login</button>
  </div>
</form>
</div>*@

<form action="https://localhost:7256/Home/Welcome" method = "POST">
  <div class="form-group">
    <label for="userName">Please Enter Your Name:</label>
    <p><input type="text" class="form-control" id="userName" name = "userName"></p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
